<h1>Listing Battery Types</h1>

<% if @battery_types %>

  <table>
    <tr>
      <th>Name</th>
      <th>Device</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @battery_types.each do |battery_type| %>
    <tr>
      <td><%= battery_type.name %></td>
      <td><%= link_to "Show", battery_type %></td>
      <td><%= link_to "Edit", edit_battery_type_path(battery_type) %></td>
      <td><%= link_to "Remove", battery_type, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table>

<% else %>

The battery type list is empty

<% end %>

<br>

<%= link_to "New battery type", new_battery_type_path %>
