<div class="row">
  <div class="col-md-12">
    <%= panel_for @battery_packs do %>
      <% if @battery_packs.empty? %>
        <%= alert_empty @battery_packs %>
      <% else %>
        <div class="table-responsive">
          <table id="data-table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
            <% @battery_packs.each do |model| %>
              <% cache model do %>
                <tr>
                  <td><%= model.id %></td>
                  <td><%= link_to model.battery_pack_model_fullname, battery_pack_path(model) %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <%= link_to 'New Battery pack', new_battery_pack_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
