<% disabled ||= false %>

<%= crud_buttons(device) %>

<%= form_for device do |f| %>
	<%= f.text_field_group :name, disabled: @disabled %>

  <h4 class='m-t-20'>Properties</h4>
  <%= nested_properties(@device, f) %>

  <% if params[:action].eql? 'edit' %>
	  <%= f.submit %>
  <% end %>
<% end %>
