<%= form_for device do |f| %>
	<%= f.text_field_group :name, disabled: @disabled %>

  <fieldset>
    <legend>Properties</legend>
		<table class='table table-striped'>
			<thead>
				<th>Name</th>
				<th>Value</th>
				<th>Delete</th>
			</thead>
			<tbody>
				<%= f.fields_for :properties do |builder| %>
					<%= render 'property_fields', f: builder %>
				<% end %>
			</tbody>
		</table>
  </fiedset>

	<%= f.submit %>
<% end %>
