<% disabled ||= false %>
<div class='panel-body'>
  <a href='<%= devices_path %>' class='btn btn-default'><%= t('button.back') %></a>
</div>
<%= form_for device do |f| %>
	<%= f.text_field_group :name, disabled: @disabled %>

  <h4 class='m-t-20'>Properties</h4>
  <%= nested_properties(@device, f) %>

	<%= f.submit %>
<% end %>
