<%= panel_action_for @device do %>
 <%= form_for @device do |f| %>
   <%= f.text_field_group :name %>

    <h4 class='m-t-20'>Properties</h4>

    <% if @device.properties.empty? %>
      <%= alert_info 'The property list is empty' %>
    <% else %>
      <%= f.fields_for :properties do |builder| %>
        <%= render 'property_fields', f: builder %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
