<% disabled ||= false %>
<%= form_for(device_model, disabled: disabled)   do |f| %>
  <% if @device_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_model.errors.count, "error") %> prohibited this device_model from being saved:</h2>
      <ul>
      <% @device_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.text_field :name %>
  <%= f.collection_select :battery_size_id, BatterySize.all, :id, :name %>
	<%= f.text_field :battery_number %>
  <%= submit(f) %>
<% end %>
