<% action = params[:action] %>
<hr>
<div class='form-group'>
  <a href='<%= url_for controller: params[:controller] %>' class='btn btn-white'><%= t('button.back') %></a>
  <% if %w(new create).include? action %>
  <% elsif action.eql? 'show' %>
    <%= link_to t('action.edit'), edit_polymorphic_path(model), class: 'btn btn-default' if show? %>
    <%= link_to t('action.destroy'), polymorphic_path(model), method: :delete, class: 'btn btn-danger' %>
  <% elsif %w(edit update).include? action %>
    <%= link_to t('action.show'), polymorphic_path(model), class: 'btn btn-default' %>
    <%= link_to t('action.destroy'), polymorphic_path(model), method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
