<div class="row">
  <div class="col-md-12">
    <%= panel_for @battery_pack_models do %>
      <% if @battery_pack_models.empty? %>
        <%= alert_empty @battery_pack_models %>
      <% else %>
        <div class="table-responsive">
          <table id="data-table" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Battery model</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
            <% @battery_pack_models.each do |model| %>
              <tr>
                <td><%= link_to model.battery_model_fullname, battery_pack_model_path(model) %></td>
                <td><%= model.size %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <%= link_to 'New Battery pack model', new_battery_pack_model_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
